{% extends "base.html" %}
{% load staticfiles %}

{% block title %}BVC{% endblock %}

{% block contents %}
<h2>Bons Vieux Campeur au GUCEM</h2>

<h3>Ce site est obsolète. Nouveau site : <a href="https://gucem.williamchevremont.be/">https://gucem.williamchevremont.be/</a></h3>

<p>
  Questions : <strong>{{ bvc_manager_mail }}</strong>
</p>

<!--

<p>
  Tu peux recevoir par mail la liste de tes commandes en cours en remplissant
  ce formulaire :

<form action="{% url 'bvc:send_command_summary' %}" method="POST">
  {% csrf_token %}
  {{ command_summary_form }}
  <input type="submit" value="Envoyer" />
</form>
</p>

<h3>Modalités</h3>

<p>
  Pour commander des bons Vieux Campeur (BVC) il suffit de
  remplir le formulaire en bas de page.
  Tu recevras alors un mail lorsqu'elle sera
  disponible.
</p>

<p>
  La <strong>distribution</strong> des bons se fait
  durant la <a href="https://www.esmug-gucem.fr/gucem/contact/"><strong>permanence du mardi</strong></a>. Tu peux régler en <strong>chèque</strong> (plus simple pour nous) ou <strong>espèces</strong> (merci
  de préparer l'appoint) le montant après réduction (GUCEM : <strong>{{ gucem_discount }}%</strong> - ESMUG : <strong>{{ esmug_discount }}%</strong>) et
  récupérer des bons que tu peux donner directement au magasin en guise de
  paiement. Si tu préviens au préalable par mail le responsable des bons, une
  personne autre que toi peut <strong>passer à ta place</strong>. Les bons sont <strong>valables un an</strong>.
</p>

<p>
  Les commandes sont <strong>mensuelles</strong> : si tu commandes tes bons <strong>avant le {{ last_day_to_command }} au soir</strong>, tu les recevras environ une semaine après cette date limite. Les commandes du mois n non récupérées avant le {{ last_day_to_command }} du mois n+1
  sont <strong>annulées</strong>. Exemples :
  <ul>
    <li>Je commande le <strong>{{ last_day_to_command }} septembre</strong>, je reçois mes bons environ une <strong>semaine</strong> après</li>
    <li>Je commande le <strong>{{ grouped_command_day }} septembre</strong>, je reçois mes bons environ un <strong>mois</strong> après (tu es servi comme les commandes passées en octobre)</li>
    <li>Je commande le <strong>{{ last_day_to_command }} septembre</strong> et <strong>ne passe pas</strong> chercher mes bons <strong>avant le {{ last_day_to_command }} octobre</strong>, ma commande est <strong>annulée</strong></li>
  </ul>
</p>

<p>
  En renseignant ton mail ci-dessous, tu recevras un rappel quelques jours avant
  la date limite de commande. Si c'est déjà le cas, l'envoi du formulaire
  désactive les rappels.
</p>

<form action="{% url 'bvc:subscribe_to_reminder' %}" method="POST">
  {% csrf_token %}
  {{ grouped_cmd_reminder_form }}
  <input type="submit" value="Envoyer" />
</form>
</p>

<p>
  Le magasin <strong>ne rend pas la monnaie</strong>. Nous dosons donc
  les bons de 10, 20 et 50 euros pour que tu puisses approcher au plus près du prix de ton achat
  sans pour autant avoir des paquets (de bons) énormes. Néanmoins,
  si tu connais d'avance les <strong>dépenses faites
  en une seule fois</strong> au magasin, merci de passer une commande pour chacune
  et de cocher
  la case correspondante dans le formulaire. Ainsi, nous savons que nous pouvons
  te donner 8 bons de 50 plutôt que 40 bons de 10 pour une dépense de 400 euros, ce qui est bien sûr plus
  pratique. Exemples :
  <ul>
    <li>Je commande pour acheter <strong>en une fois</strong> un ou plusieurs objet(s), je passe <strong>une</strong> commande et <strong>coche</strong> la case</li>
    <li>Je commande pour acheter <strong>en plusieurs fois</strong> deux objets (donc un à chaque fois), je passe <strong>deux</strong> commandes et <strong>coche</strong> la case pour chacune</li>
    <li>Je commande mais ignore comment je vais dépenser mes bons, je passe <strong>une</strong> commande et <strong>ne coche pas</strong> la case</li>
  </ul>

  Dans le doute, <strong>ne coche pas</strong> la case. Elle sert juste à nous
  simplifier le travail.
</p>

<h3 id="passer-commande">Passer commande</h3>

Après la commande, <strong>un mail de confirmation est envoyé</strong>. Si tu ne le reçois pas,
passe commande à {{ bvc_manager_mail }}.

<p>
  Si tu es une <strong>commission</strong>, merci de commander sur
  <a href="{% url 'bvc:place_commission_command' %}">cette page</a>.
  Pour les <strong>adhérents</strong>, c'est ici :
</p>

<form action="{% url 'bvc:home' %}" method="POST">
  {% csrf_token %}
  
  <table>
    {{ user_form.as_table }}
    {{ member_form.as_table }}
    {{ command_form.as_table }}
  </table>
  
  <input type="submit" value="Commander" />
</form>
-->
{% endblock %}

{% block javascript %}
<!--
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  crossorigin="anonymous"></script>

<script>
$( document ).ready(function() {
    var ESMUG_DISCOUNT = 0.18;
    var GUCEM_DISCOUNT = ESMUG_DISCOUNT;
    var amountInput = $('#id_amount');
    var clubInput = $('#id_club');

    // Create price HTML element
    var td = amountInput.closest('td');
    td.append('<div class="price"></div>');
    var priceDiv = td.find('.price');

    function getDiscount() {
        var club = clubInput.val();

        if (club == 'esmug')
            return ESMUG_DISCOUNT;
        else if (club == 'gucem')
            return GUCEM_DISCOUNT;
        throw 'Unknown club ' + club;
    }

    function displayPrice(price) {
        priceDiv.html('Soit <strong>' + price + '</strong> euros à payer.');
    }

    function computePrice() {
        var amount = parseInt(amountInput.val()) || 0;
        return ((1 - getDiscount()) * amount).toFixed(2);
    }

    amountInput.blur(function(e) {
        displayPrice(computePrice());
    });

    clubInput.change(function(e) {
        displayPrice(computePrice());
    });

    displayPrice(computePrice());
});
</script>
-->
{% endblock %}
