{% if unprepared_cmd_count > 0 %}
    <p>Une commande groupée a déjà été passée et n'a pas encore été préparée.</p>
{% else %}
    <p>Bons encore en vente : {{ being_sold }} euros</p>

    <table>
        <tr>
            <td></td>
            <td>{{ placed_by_members }}</td>
            <td>euros commandés par les membres</td>
        </tr>
        <tr>
            <td>+</td>
            <td>{{ placed_by_commissions }}</td>
            <td>euros commandés par les commissions</td>
        </tr>
        <tr>
            <td>-</td>
            <td>{{ remaining }}</td>
            <td>euros restants</td>
        </tr>
        <tr>
            <td>=</td>
            <td><strong>{{ min_to_place }}</strong></td>
            <td>euros nécessaires</td>
        </tr>
        <tr>
            <td>+</td>
            <td>{{ extra_amount }}</td>
            <td>euros de marge</td>
        </tr>
        <tr>
            <td>=</td>
            <td><strong>{{ recommended_to_place }}</strong></td>
            <td>euros recommandés</td>
        </tr>
    </table>

    <form action="{% url 'bvc:place_grouped_command' %}" method="POST">
      {% csrf_token %}
      
      <table>
        {{ form.as_table }}
      </table>
      
      <input type="submit" value="Commander" />
    </form>
{% endif %}
