{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}

{% block object-tools %}

{% if add %}
  <p>Nombre de chèques <strong>non inclus</strong> dans le dépôt : {{ not_to_be_banked_check_number }}</p>
  {% if not_to_be_banked_check_number > 0 %}
  <p>
    <a href="{% url 'bvcadmin:bvc_membercommand_changelist' %}?state__exact=sold">Ajouter les chèques manquants</a>
  </p>
  {% endif %}

  <p>
    <strong>Informations à remplir sur le coupon de remise :</strong>
    <ul>
      <li>Nombre de chèques : {{ to_be_banked_check_number }}</li>
      <li>Montant total : {{ to_be_banked_check_total_amount }}</li>
      <li>Date : cf. ci-dessous</li>
    </ul>
  </p>
{% endif %}

{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    <li>
        {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
        <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
    </li>
    {% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}

{% block after_related_objects %}
{% if not add %}
    <table>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Type</th>
            <th>Licence</th>
            <th>Bons</th>
            <th>Prix</th>
        </tr>
    {% for cmd in commands %}
        <tr>
            <td>{{ cmd.id }}</td>
            <td>{{ cmd.member.user.last_name }}</td>
            <td>{{ cmd.member.user.first_name }}</td>
            <td>{{ cmd.member.club }}</td>
            <td>{{ cmd.member.license }}</td>
            <td>{{ cmd.amount }}</td>
            <td>{{ cmd.price }}</td>
        </tr>
    {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Total déposé</td>
            <td>{{ original.total_price }}</td>
        </tr>
    <table>
{% endif %}
{% endblock %}
