{% load staticfiles %}

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8"/>
  <title>{% block title %}{% endblock %} | GUCEM</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
  {% block style %}{% endblock %}
</head>
<body>
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}

  <div id="contents">{% block contents %}{% endblock %}</div>

  {% block javascript %}{% endblock %}
</body>
</html>
